aiofiles==23.2.1
aiohttp==3.8.4
aiosignal==1.3.1
anthropic==0.7.7
anyio==3.7.1
async-timeout==4.0.2
asyncio==3.4.3
attrs==23.1.0
backoff==2.2.1
beautifulsoup4==4.12.2
blessed==1.20.0
Brotli==1.1.0
bs4==0.0.1
cachetools==5.3.1
certifi==2023.5.7
cffi==1.16.0
charset-normalizer==3.1.0
click==8.1.7
cohere==4.31
contourpy==1.1.1
cryptography==41.0.5
cycler==0.12.1
dataclasses-json==0.5.14
diskcache==5.6.3
distro==1.8.0
duckduckgo-search==3.9.5
et-xmlfile==1.1.0
exceptiongroup==1.1.3
faiss-cpu==1.7.4
fastavro==1.8.2
filelock==3.13.1
fonttools==4.43.1
frozenlist==1.3.3
fsspec==2023.10.0
google-ai-generativelanguage==0.3.3
google-api-core==2.12.0
google-auth==2.23.3
google-generativeai==0.2.1
googleapis-common-protos==1.61.0
gptcache==0.1.42
gpustat==1.1.1
greenlet==3.0.0
grpcio==1.59.0
grpcio-status==1.59.0
guidance==0.0.64
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==1.0.2
httpx==0.25.1
huggingface-hub==0.17.3
hyperframe==6.0.1
idna==3.4
importlib-metadata==6.8.0
importlib-resources==6.1.0
kiwisolver==1.4.5
langchain==0.0.196
langchainplus-sdk==0.0.20
lxml==4.9.3
marshmallow==3.20.1
matplotlib==3.8.0
mpmath==1.3.0
msal==1.25.0
multidict==6.0.4
mypy-extensions==1.0.0
nest-asyncio==1.5.8
numexpr==2.8.7
numpy==1.24.3
nvidia-ml-py==12.535.133
openai
openapi-schema-pydantic==1.2.4
openpyxl==3.1.2
packaging==23.2
panda==0.3.1
pandas==2.0.3
Pillow==10.1.0
platformdirs==4.0.0
playwright==1.39.0
proto-plus==1.22.3
protobuf==4.24.4
psutil==5.9.6
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pydantic==1.10.13
pyee==11.0.1
pygtrie==2.5.0
PyJWT==2.8.0
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.1
regex==2023.10.3
requests==2.31.0
rsa==4.9
safetensors==0.4.0
seaborn==0.13.0
six==1.16.0
sniffio==1.3.0
socksio==1.0.0
soupsieve==2.5
SQLAlchemy==2.0.23
sympy==1.12
tenacity==8.2.3
tiktoken==0.5.1
tokenizers==0.14.1
tqdm==4.65.0
transformers==4.35.0
typing-inspect==0.9.0
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.0.2
wcwidth==0.2.12
yarl==1.9.2
zipp==3.17.0
